<!-- Begin Body -->
<div class="container">
	<div class="no-gutter row">
            
          <!--mid column-->
          <div class="col-md-2">
              <div class="panel" id="midCol">
                <div class="panel-heading" style="background-color:#555;color:#eee;">Conócenos</div> 
                <div class="panel-body">
                  
                  <div class="well text-centered">
                          <img src="../assets/images/ecloud.jpg" class="img-responsive">
                          <br><p class="text-centered">
                          Queremos que seas partícipe de nuestro proyecto.<br><br>   Contactanos a través de
                          </p>

                <div class="row ">
                  <div class="col-xs-3">
                    <i class="icon-2x icon-facebook"></i>
                    </div>
                    <div class="col-xs-3">
                    <i class="icon-2x icon-twitter"></i>
                    </div>
                    <div class="col-xs-3">
                    <i class="icon-2x icon-linkedin"></i>
                    </div>
                    <div class="col-xs-3">
                    <i class="icon-2x icon-pinterest"></i>
                    </div>
                  </div>
                
                         
                  </div>
                  
                  <hr>
                  
                  <h3>Top Members</h3>
                  
                  <h5><a href="#"><i class="glyphicon glyphicon-user"></i> John Chapman</a></h5>
                  <h5><a href="#"><i class="glyphicon glyphicon-user"></i> Max Axleton</a></h5>
                  <h5><a href="#"><i class="glyphicon glyphicon-user"></i> Devin Skelly</a></h5>
                  <h5><a href="#"><i class="glyphicon glyphicon-user"></i> Katie Kowalski</a></h5>
                  <h5><a href="#"><i class="glyphicon glyphicon-user"></i> Amet Deberge</a></h5>
                
                  <hr>  
                  
                  <img class="img-responsive" src="//placehold.it/300x200/FFF">    
                  
                  
                  
               </div> 
               </div><!--/panel-->
          </div><!--/end mid column-->
          
          <!-- right content column-->
          <div class="col-md-8" id="content">
              <div class="panel">
          <div class="panel-heading" style="background-color:#111;color:#fff;">Noticias de <?php echo $noticias[0]->nombreCategoria; ?></div>   
                <div class="panel-body">
                  
                  <!-- ultima noticia categoria-->
                  <div class="row">
                    <div class="col-md-12">
                      <a href="?c=noticia&a=noticia&id=<?php echo $noticias[0]->id; ?>"><img src="<?php echo $noticias[0]->imagen; ?>" class="img-responsive" alt="<?php echo $noticias[0]->titular; ?>"></a>
                    </div>
                   
                    <div class="col-md-12 text-justify">
                      <a href="?c=noticia&a=noticia&id=<?php echo $noticias[0]->id; ?>">
                      <p id="fittext1"><strong><?php echo $noticias[0]->titular; ?></strong></p>
                      </a>
                      <div class="text-muted"><p><small><?php echo $noticias[0]->fecha; ?> / Wilson Traiker</small></p>
                      </div>                    
                    </div> 

                    <div class="col-md-12 text-justify">
                    <a href="?c=noticia&a=noticia&id=<?php echo $noticias[0]->id; ?>"> 
                      <p><strong><?php echo $noticias[0]->entradilla; ?></strong></p></a>
                    </div>  
                  </div><!--end ultima noticia categoria -->

                  <hr> 

                  <?php for ($i=1; $i < count($noticias); $i++):?>
                      <div class="row">
                        <div class="col-md-12 text-justify">
                          <a href="?c=noticia&a=noticia&id=<?php echo $noticias[$i]->id; ?>">
                            <p><strong><?php echo $noticias[$i]->titular; ?></strong></p>
                            <p><?php echo $noticias[$i]->entradilla; ?></p></a>
                        </div>
                      </div>
                      <hr>

                 <?php endfor; ?> 
                  

                  
              
                </div><!--/panel-body-->
              </div><!--/panel-->
                <!--/end right column-->
        </div> 
      		<!-- left side column -->
  			<div class="col-md-2">
              	<div class="panel panel-default" id="sidebar">
                <div class="panel-heading" style="background-color:#888;color:#fff;">Categorías</div> 
                <div class="panel-body">
      			    <div class="media">
                    <a class="pull-left" href="?c=noticia&a=categoria&id=1">
                      <img class="media-object" src="http://placehold.it/80/F0F0F0">
                    </a>
                    <div class="media-body">
                      <h5 class="media-heading"><a href="?c=noticia&a=categoria&id=1"><strong>CINE</strong></a></h5>
                      <small>Reseñas de cine de hoy y siempre.</small><br>
                    </div>
                  </div>
                  <div class="media">
                    <a class="pull-left" href="?c=noticia&a=categoria&id=4">
                      <img class="media-object" src="http://placehold.it/80/F0F0F0">
                    </a>
                    <div class="media-body">
                      <h5 class="media-heading"><a href="?c=noticia&a=categoria&id=4"><strong>DEPORTE</strong></a></h5>
                      <small>Todos los deportes, no solo fútbol.</small><br>
                    </div>
                  </div>
                  <div class="media">
                    <a class="pull-left" href="?c=noticia&a=categoria&id=3">
                      <img class="media-object" src="http://placehold.it/80/F0F0F0">
                    </a>
                    <div class="media-body">
                      <h5 class="media-heading"><a href="?c=noticia&a=categoria&id=3"><strong>LIBROS</strong></a></h5>
                      <small>Leer nos hace libres.</small><br>
                    </div>
                  </div>
                  <div class="media">
                    <a class="pull-left" href="?c=noticia&a=categoria&id=2">
                      <img class="media-object" src="http://placehold.it/80/F0F0F0">
                    </a>
                    <div class="media-body">
                      <h5 class="media-heading"><a href="?c=noticia&a=categoria&id=2"><strong>MÚSICA</strong></a></h5>
                      <small>Sin música la vida sería un error.</small><br>
                    </div>
                  </div>
                </div><!--/panel body-->
              </div><!--/panel-->
      		</div><!--/end left column-->
  	 </div>
    </div>

	</body>
</html>