<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="?c=index&a=index">Web eNubes</a>
            </div>
            <!-- Top Menu Items -->
            <?php if(isset($_SESSION['nombre'])): ?>
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> <?php print $_SESSION['nombre']; ?> <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="?c=index&a=logout"><i class="fa fa-fw fa-power-off"></i> Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>           
            <?php endif; ?>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li class="active">
                        <a href="?c=index&a=panelAdmin"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                    </li>
                    <li>
                        <a href="?c=index&a=panelAdminTablaUsuarios"><i class="fa fa-fw fa-users"></i> Usuarios</a>
                    </li>
                    <li>
                        <a href="?c=index&a=panelAdminTablaNoticias"><i class="fa fa-fw fa-newspaper-o"></i> Noticias</a>
                    </li>                   
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-bar-chart-o"></i> Estadísticas </a>
                        <ul id="demo" class="collapse">
                            <li>
                                <a href="javascript:;" data-toggle="collapse" data-target="#estadisticasNoticias"><i class="fa fa-fw fa-newspaper-o"></i> Noticias</a>
                                <ul id="estadisticasNoticias" class="collapse">
                                    <li>
                                        <a href="?c=estadistica&a=graficosNoticias"><i class="fa fa-fw fa-bar-chart"></i> Gráficos</a>
                                    </li>
                                    <li>
                                        <a href="?c=estadistica&a=tablaVisitas"><i class="fa fa-table"></i> Tablas</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:;" data-toggle="collapse" data-target="#estadisticasUsuarios"><i class="fa fa-fw fa-users"></i></i> Usuarios </a>
                                <ul id="estadisticasUsuarios" class="collapse">
                                    <li>
                                        <a href="?c=estadistica&a=graficosUsuarios"><i class="fa fa-fw fa-bar-chart"></i> Gráficos</a>
                                    </li>
                                    <li>
                                        <a href="?c=estadistica&a=tablaEstadisticaUsuarios"><i class="fa fa-table"></i> Tablas</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>                    
                </ul><!-- <ul class="nav navbar-nav side-nav"> -->
            </div><!-- /.navbar-collapse -->
</nav>