<!-- Begin Body -->
<div class="container">
	<div class="no-gutter row">
            
          <!--mid column-->
          <div class="col-md-2">
              <div class="panel" id="midCol">
                <div class="panel-heading" style="background-color:#555;color:#eee;">Conócenos</div> 
                <div class="panel-body">
                  
                  <div class="well text-centered">
                          <img src="../assets/images/ecloud.jpg" class="img-responsive">
                          <br><p class="text-centered">
                          Queremos que seas partícipe de nuestro proyecto.<br><br>   Contactanos a través de
                          </p>

                <div class="row ">
                  <div class="col-xs-3">
                    <i class="icon-2x icon-facebook"></i>
                    </div>
                    <div class="col-xs-3">
                    <i class="icon-2x icon-twitter"></i>
                    </div>
                    <div class="col-xs-3">
                    <i class="icon-2x icon-linkedin"></i>
                    </div>
                    <div class="col-xs-3">
                    <i class="icon-2x icon-pinterest"></i>
                    </div>
                  </div>
                
                         
                  </div>
                  
                  <hr>
                  <?php if(isset($_SESSION["is_admin"]) && ($_SESSION["is_admin"] == 1)): ?>
                  
                  <h3>Últimas conexiones</h3>
                  <?php foreach ($logins as $item): ?>
                  
                    <h5><i class="glyphicon glyphicon-user"></i> <?php print $item->nombre; ?></h5>

                  <?php endforeach; ?>
                  
                  <?php endif; ?>
                  
               </div> 
               </div><!--/panel-->
          </div><!--/end mid column-->
          
          <!-- right content column-->
          <div class="col-md-8" id="content">
              <div class="panel">
          <div class="panel-heading" style="background-color:#111;color:#fff;">TITULARES</div>   
                <div class="panel-body">
                  
                
                  <!-- noticia -->
                  <div class="row">
                  <div class="col-md-12">
                    <img src="<?php echo $noticia->imagen;?>" class="img-responsive">
                  </div>
                   
                  <div class="col-md-12 text-justify">
                    <p id="fittext1">
                    <strong><?php echo $noticia->titular; ?></strong>
                    </p>
                    
                    <div class="text-muted"><p><small><?php echo $noticia->fecha; ?> / <?php echo $noticia->nombre_autor; ?></small></p>
                    </div>                    
                  </div> 

                  <div class="col-md-12 text-justify"> 
                  <p><strong><?php echo $noticia->entradilla; ?></strong></p>
                </div>  
                
                <div class="col-md-12 text-justify"> 
                  <p><?php echo $noticia->contenido; ?></p>
                </div>
                </div><!-- noticia -->                 
                  
                  <hr>
                  <h2 class="text-center"><strong>Otras noticias de esta categoría</strong></h2>
                  <br>
                  <!-- NOS TRAEMOS TODAS LAS NOTICIAS DE LA CATEGORIA -->
                    <?php foreach ($noticias as $item): ?>
                      <div class="row">
                        <div class="col-md-12 text-justify">
                        <a href="?c=noticia&a=noticia&id=<?php echo $item->id; ?>">
                          <p class="text-justify"><strong><?php echo $item->titular; ?></strong></p>
                          <p><?php echo $item->entradilla; ?></p></a>
                        </div>
                      </div>
                  <hr>
                  <?php endforeach; ?>
                   
              
                  </div><!--/panel-body-->
                </div><!--/panel-->
                <!--/end right column-->
        </div> 
      		<!-- left side column -->
  			<div class="col-md-2">
              	<div class="panel panel-default" id="sidebar">
                <div class="panel-heading" style="background-color:#888;color:#fff;">Categorías</div> 
                <div class="panel-body">
                <div class="media">
                    <a class="pull-left" href="?c=noticia&a=categoria&id=1">
                      <img class="media-object" src="../assets/images/cine.jpg">
                    </a>
                    <div class="media-body">
                      <h5 class="media-heading"><a href="?c=noticia&a=categoria&id=1"><strong>CINE</strong></a></h5>
                      <small>Reseñas de cine de hoy y siempre.</small><br>
                    </div>
                  </div>
                  <div class="media">
                    <a class="pull-left" href="?c=noticia&a=categoria&id=4">
                      <img class="media-object" src="../assets/images/sport.jpg">
                    </a>
                    <div class="media-body">
                      <h5 class="media-heading"><a href="?c=noticia&a=categoria&id=4"><strong>DEPORTE</strong></a></h5>
                      <small>Todos los deportes, no solo fútbol.</small><br>
                    </div>
                  </div>
                  <div class="media">
                    <a class="pull-left" href="?c=noticia&a=categoria&id=3">
                      <img class="media-object" src="../assets/images/books.jpg">
                    </a>
                    <div class="media-body">
                      <h5 class="media-heading"><a href="?c=noticia&a=categoria&id=3"><strong>LIBROS</strong></a></h5>
                      <small>Leer nos hace libres.</small><br>
                    </div>
                  </div>
                  <div class="media">
                    <a class="pull-left" href="?c=noticia&a=categoria&id=2">
                      <img class="media-object" src="../assets/images/music.jpg">
                    </a>
                    <div class="media-body">
                      <h5 class="media-heading"><a href="?c=noticia&a=categoria&id=2"><strong>MÚSICA</strong></a></h5>
                      <small>Sin música la vida sería un error.</small><br>
                    </div>
                  </div>
                </div><!--/panel body-->
              </div><!--/panel-->
      		</div><!--/end left column-->
  	 </div>
    </div>

	</body>
</html>