<body>

    <div id="wrapper">

        <!-- Navigation -->
        
        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Usuarios
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="?c=index&a=panelAdmin">Dashboard</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-users"></i></i> Usuarios
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-12">
                    <div class="row">
                    <div class="col-lg-6">
                        <h2>Listado de usuarios</h2>
                    </div>
                    <div class="col-lg-6" style="text-align: right; padding-right: 18px">
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modelCreateUser">Crear nuevo usuario</button>
                    </div>
                    </div> 
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th class="text-center">Id</th>
                                        <th class="text-center">Usuario</th>
                                        <th class="text-center">Nombre</th>
                                        <th class="text-center">Apellidos</th>
                                        <th class="text-center">Fecha creación</th>
                                        <th class="text-center">¿Acceso a privadas?</th>
                                        <th class="text-center">¿Es administrador?</th>
                                        <th class="text-center">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                
                                <?php foreach ($usuarios as $item): ?>
                                    <tr>
                                        <td class="text-center"><?php echo $item->id; ?></td>
                                        <td class="text-center"><?php echo $item->usuario; ?></td>
                                        <td><?php echo $item->nombre; ?></td>
                                        <td class="text-center"><?php echo $item->apellidos; ?></td>
                                        <td class="text-center"><?php echo $item->fecha_creacion; ?></td>
                                        <td class="text-center"><?php echo $item->acceso_privado; ?>
                                        </td>
                                        <td class="text-center"><?php echo $item->is_admin; ?></td>
                                        <td>
                                            <button type="button" class="editModal btn btn-warning" data-toggle="modal" data-target="#modalEditUser" data-id="<?php echo $item->id; ?>">Editar</button>
                                            <br><br>
                                            <button type="button" class="delModal btn btn-danger" data-toggle="modal" data-target="#modelDeleteUser" data-id="<?php echo $item->id; ?>">Eliminar</button>
                                            </td>
                                    </tr>
                                    <?php endforeach; ?>                                    
                                </tbody>
                            </table>
                        </div>
                    </div>                    
                </div>
                <!-- /.row -->                

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="../assets/js/jquery.js"></script>

    <script src="../assets/js/scripts.js"></script>

    <script >
        $(document).on("click", ".delModal", function () {
            var user = $(this).data('id');
            $(".modal-body #idForDel").val( user );
        });

        $(document).on("click", ".editModal", function () {
            var user = $(this).data('id');

            $.ajax({
                url: '?c=usuario&a=ajaxUsuario',
                type: "get",
                dataType: "json",
                data: "id=" + user,
                success:function (data) {

                        $("#formEditUser #edit-id").val( data.id );
                        $("#formEditUser #edit-usuario").val( data.usuario );
                        $("#formEditUser #edit-password").val( data.password );
                        $("#formEditUser #edit-nombre").val( data.nombre );
                        $("#formEditUser #edit-apellidos").val( data.apellidos );
                        
                        if(data.acceso_privado == 1)
                        {
                            $("#formEditUser #edit-acceso_privado[value='1']").prop('checked', true);    
                        } else {
                            $("#formEditUser #edit-acceso_privado[value='0']").prop('checked', true);
                        }

                        if(data.is_admin == 1)
                        {
                            $("#formEditUser #edit-is_admin[value='1']").prop('checked', true);    
                        } else {
                            $("#formEditUser #edit-is_admin[value='0']").prop('checked', true);
                        }

                        }
            });



        });
        
    </script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../assets/js/bootstrap.min.js"></script>

</body>

</html>
